{% extends 'base.html.twig' %}

{% block title 'Contact page' %}

{% form_theme form with [
    'bootstrap_4_horizontal_layout.html.twig',
    '_themes/contact/contact_type.html.twig']
%}


{% block body %}
    <section class="grid-container">
        <h1>
            Contact us
        </h1>
        <p>
            Hello! This form is here to allow you to send a contact message via Messenger.<br>
            Remember to open <strong>Mailcatcher</strong> (run <code>docker ps</code> to know what is the exposed port),
            and do not forget to run <code>make consume-messages</code> so the RabbitMQ worker can consume Messenger
            messages and <em>actually</em> send the emails to Mailcatcher!
        </p>

        {{ form(form) }}
    </section>
{% endblock %}
