<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
    </head>
    <body>
        <section>
            <p>A new email has been sent by:  {{- contact_message.email -}}</p>
            <p>The subject is:  {{- contact_message.subject -}}</p>
            <p>Here's the content:</p>
            <p>{{- contact_message.content -}}</p>
        </section>
    </body>
</html>
